:root {
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-900: oklch(39.6% 0.141 25.723);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-green-600: oklch(62.7% 0.194 149.214);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-black: #000;
  --color-white: #fff;
  --spacing: 0.25rem;
  --container-xl: 36rem;
  --container-7xl: 80rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --font-weight-bold: 700;
  --tracking-wide: 0.025em;
  --leading-tight: 1.25;
  --leading-relaxed: 1.625;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --blur-sm: 8px;
  --blur-3xl: 64px;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --color-primary: #cbfe1c;
  --color-dark: #000;
  --color-light: #f1f1f1;
}

@font-face {
  font-family: "Days One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/daysone/v19/mem9YaCnxnKRiYZOCIYWcrgmVA.woff2)
    format("woff2");
  unicode-range:
    U + 0301,
    U + 0400 -045F,
    U + 0490 -0491,
    U + 04B0 -04B1,
    U + 2116;
}
body {
  font-family: "Days One", sans-serif;
  background-color: black;
}
::selection {
  color: var(--color-primary);
  color: black; /* Text color while selected */
}
/*  Start NavBar*/
.navbar {
  background-color: #0b0e13;
}
.navbar .image {
  width: 50px;
  height: 50px;
}
.navbar .navbar-nav .nav-link {
  vertical-align: center;
  color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--color-primary);
}
.navbar .navbar-nav .nav-link.first {
  color: var(--color-primary);
  font-weight: 900;
}
.navbar .grp {
  border-left: 1px solid var(--color-primary) !important;
  padding-left: 10px; /* spacing from border */
}
.navbar .grp {
  cursor: pointer;
}
.btn-all {
  background-color: var(--color-primary);
  color: var(--color-black);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-all:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
  filter: brightness(0.8);
}

/* End NavBar  */

/* Start Hero-Section  */

.main .hero-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
    url(/images/hero-bg-H6PoyNYD.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.main .hero-section .font-bold {
  font-size: 4.2rem;
  font-weight: 900;
}
.main .hero-section .text-prim {
  font-size: 4.2rem;
  font-weight: 900;
  color: var(--color-primary);
}

.main .hero-section .inner,
.btn2 {
  background-color: var(--color-dark);
  border: 4px solid var(--color-primary);
  border-radius: 12px;
}
.main .hero-section .fa-trophy,
.btn2 {
  color: var(--color-primary);
  transition: all 0.35s;
}

.main .hero-section .inner,
.btn1 {
  background-color: var(--color-primary);
  color: var(--color-dark);
  border-radius: 12px;
  transition: all 0.35s;
}

.main .hero-section .btn2:hover {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

/* End Hero-Section  */

/* Start  Interactive-Section  */

#interactive {
  margin-top: 50px;
}
#interactive .card .icone {
  background-color: #35343452;
}
#interactive .card {
  background-color: #1a1a1a;

  transition-property: all;
  transition-duration: 0.3s;
}

.card .fa-solid {
  color: var(--color-primary);
}

.bt1:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.card::before,
.card::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.8s ease;
}

.card::before {
  top: 10px;
  left: 10px;
  background: linear-gradient(135deg, #b7ff00 50%, transparent 50%);
}

.card::after {
  bottom: 10px;
  right: 10px;
  background: linear-gradient(315deg, #b7ff00 50%, transparent 50%);
}

.card:hover::before,
.card:hover::after {
  opacity: 1;
  transform: scale(1);
}

#interactive .card-group:hover {
  border: 3px solid var(--color-primary);
  border-radius: 12px;
  padding: 0;
}

#interactive .card:hover .fa-solid {
  color: black;
}
#interactive .card:hover .icone {
  background-color: var(--color-primary);
  color: black;
}

#interactive .card:hover .fa-playstation {
  background-color: var(--color-primary);
  color: black;
}

#interactive .fa-playstation {
  color: var(--color-primary);
}

#interactive h1 {
  font-weight: 900;
}
.inter {
  color: var(--color-primary);
}
.fw-900 {
  font-weight: 900;
}
/* End   Interactive-Section  */

/* Start lates-game-Section*/
.our-lates-game {
  margin-bottom: 5rem;
}

.our-lates-game h3 {
  color: var(--color-primary);
}
.line {
  position: relative;
  overflow: hidden;
  background:
    radial-gradient(
      ellipse 10%,
      rgba(255, 255, 0, 1) 0%,
      rgba(200, 255, 0, 0.9) 12%,
      rgba(140, 255, 40, 0.45) 20%,
      rgba(0, 0, 0, 0) 70%
    ),
    #020814;
}
.line::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
  width: 45%;
  height: 2px;
  border-radius: 999px;

  background: linear-gradient(
    to right,
    rgba(255, 255, 0, 0) 5%,
    rgba(238, 255, 0, 0.9) 15%,
    rgba(255, 255, 0, 1) 50%,
    rgba(238, 255, 0, 0.9) 85%,
    rgba(255, 255, 0, 0) 95%
  );

  box-shadow:
    0 0 6px rgba(255, 255, 0, 0.9),
    0 0 14px rgba(173, 255, 47, 0.6),
    0 6px 20px rgba(120, 255, 40, 0.25);
}

.section-title {
  position: relative;
  text-align: center;
  color: #d7ff2f;
  font-weight: 700;
  letter-spacing: 3px;
}
.section-title::before,
.section-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  height: 3px;
  transform: translateY(-50%);
  border-radius: 999px;
}

.section-title::before {
  left: calc(50% - 220px);
  background: linear-gradient(to right, rgba(255, 255, 0, 0), #d7ff2f);
  box-shadow:
    0 0 6px #d7ff2f,
    0 0 px rgba(173, 255, 47, 0.6);
}

.section-title::after {
  right: calc(50% - 220px);
  background: linear-gradient(to left, rgba(255, 255, 0, 0), #d7ff2f);
  box-shadow:
    0 0 6px #d7ff2f,
    0 0 px rgba(173, 255, 47, 0.6);
}

.our-lates-game h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.our-lates-game {
  opacity: 0.5;
  transition: 0.3s ease;
  backface-visibility: hidden;
}
.hdi1 {
  top: 10px;
  left: 40px;
}

.div1 {
  font-size: 0.6rem;
  background-color: color-mix(in oklab, var(--color-black) 50%, transparent);
}

.hdi2 {
  bottom: 20px;
  left: 40px;
}
.col1 .all1 {
  opacity: 0;
  transition: opacity 0.4s ease; /* ✅ correct */
}

.col1:hover .all1 {
  opacity: 0.7;
}

.col1:hover img {
  border: 4px solid var(--color-primary);
  transition: 0.3s ease;
}

.sp-1 {
  background-color: var(--color-primary);
}

/* End  lates-game-Section*/
/* Start  Carousel Section*/
.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* 🔑 remove Bootstrap positioning */
.carousel-control-prev,
.carousel-control-next {
  position: static;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselExample .car1 {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: ease;
}
/* Show overlay on hover */
#carouselExample .car1 :hover::before {
  opacity: 1;
}
/* End-lates-game */

/* Start Moving Photo */
#moving-img {
  position: relative;
  background-color: black;
}
#moving-img {
  background:
    radial-gradient(
      ellipse 60% 80% at center 60%,
      /* flatter + taller */ rgb(255, 255, 0) 0%,
      rgba(200, 223, 71, 0.911) 12%,
      rgba(117, 143, 24, 0.705) 30%,
      rgba(0, 0, 0, 0.911) 65%
    ),
    #020814;
}
.slider {
  overflow: hidden;
  width: 100%;
}

.track {
  display: flex;
  width: calc(200px * 32); /* 32 images */
  animation: scroll 30s linear infinite;
}

.track img {
  width: 200px;
  height: 140px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}

/* Reverse direction for second row */
.reverse {
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* End  caroussel-Section*/

/* Start  best-team-section */

.play-head {
  font-size: var(--text-5xl);
  line-height: var(--tw-leading, var(--text-5xl--line-height));
  font-weight: var(--font-weight-bold);
}
.relative {
  position: relative;
}
.pos {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 55;
  color: white;
}
.play-p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-gray-400);
}

.play-card {
  cursor: pointer;
}
.player-card {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.img-base,
.img-color {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-base {
  filter: grayscale(100%);
}

.img-color {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.6s ease;
}

.player-card:hover .img-color {
  clip-path: inset(0 0 0 0);
}
.player-card:hover .spn1 {
  color: #d7ff2f;
}
.txt {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.2),
    transparent
  );
}
.txt-vertical {
  writing-mode: vertical-rl;
  letter-spacing: 2px;
}
.small {
  font-size: 0.7rem;
  line-height: 14px;
  font-weight: 400;
  color: rgb(180, 181, 182);
}
/* End  best-team-section */

/* Start  Contact-section */
.contact {
  background-color: #0f1420;
}
.bg-1 {
  background-color: #1e2939;
}

.yell {
  background-color: var(--color-primary);
}
.fsmall {
  font-size: 0.8rem;
  font-weight: 100;
  color: #90939b;
}
.join {
  background: linear-gradient(90deg, #d7ff00 0%, #29d97a 100%);
}
.fcolor {
  color: var(--color-primary);
}
/* End   Contact-section */
/* Start   Footer-section */
.play-p1 {
  font-size: 0.8rem;

  color: var(--color-gray-400);
}
.btn-social :hover {
  color: var(--color-primary) !important;
}
